$nav-link-hover-color: white;
$num-items: 5;
$intro-font: Intro, Avenir, Century Gothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lato-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

.nav-container {
	text-align: center;
	.nav-pills {
		font-family: $intro-font;
		width: 100%;
		li {
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			@media (min-width: $screen-sm-min) {
				width: percentage(1/$num-items);

			}
			a {
				box-sizing: border-box;
				display: inline-block;
				width: 75%;
				font-size: 16px;
				@media (min-width:  $screen-sm-min) {
					width: 98%;
				}
				@media (min-width: $screen-md-min) {
					font-size: 18px;
					padding: 20px;
				}
				&:hover {
					color: $nav-link-hover-color;
				}
				&:hover,
				&:focus,
				&:active {
					@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
				}
			}
			.btn {
				@include box-shadow(inset 0 -3px 5px rgba(0,0,0,.125));
				margin: 0;
				&:hover {
					border: 1px solid $nav-link-hover-color;					
				}

			}
		}
	}
}

.top {
	@media (min-width: $screen-lg-min) {
		height: 100vh; // vh bug in mobile safari
	}
}

#main-jumbo {	
	margin-top: 10px;
	@media (min-width:  $screen-sm-min) {
		margin-top: 0;
		margin: 80px 0;
	}
	@media (min-width: $screen-lg-min) {
		margin: 0;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
}

footer {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.65);
}

.logo {
	font-family: $intro-font;
	letter-spacing: 0.05em;
}
body {
	background: rgba(0, 0, 0, 0);
	font-family: $lato-font;
}

.bg {
	min-width: 100%;
	position: relative;
	left: -40%;
	@media (min-width: $screen-sm-min) {
		left: -10%;
	}
	@media (min-width: $screen-md-min) {
		left: 0;
	}
	@media (min-width: $screen-lg-min) {
		min-height: 100vh;
	}

}

.img-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
}

td {
	padding: 5px;
}

td.time {
	text-align: center;
}

td.event{
	text-align: left;
}

.description {
	line-height: 1.6em;
}

.social {
	margin-top: 25px;
	// padding: 5px;
	margin-bottom: 0;
	font-size: 18px;
	@media (min-width: $screen-md-min) {
		text-align: left;
	}
	// text-align: left;
	color: $gray-light;
	a {
		color: $gray-light;
	}
}


section {
	font-size: 18px;
	background-color: white;
	.content {
		padding: 10px;		
	}
	p {
		margin-bottom: 1em;
	}
	h3 {
		margin: 0;
		margin-bottom: 0.3em;
		font-weight: bold;
	}
	@media (min-width: $screen-sm-min) {
		font-size: 21px;
		line-height: 1.5em;
		.content {
			padding: 50px 0;
		}
	}
	header {
		text-align: center;
		padding: 35px;
		h1 {
			font-size: 2em;
			font-family: $intro-font;
			margin: 0;
		}
		background-color: #F2B500;
	}
}

.sponsor-logo {
	max-width: 100%;
}