$sans-serif-font: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
$navbar-item-side-length: 115px;
$number-of-navbar-items: 4;

#top-navbar {
	top: 0;
	margin-top: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	font-family: $sans-serif-font;
	position: fixed;
	font-size: 24px;
	border: 1px solid grey;
	border-radius: $navbar-item-side-length / 2;
	padding: 0 $navbar-item-side-length / 4;
	width: 73vmin;
	a:nth-child(#{$number-of-navbar-items}) {
		border: none;
	}
	a {
		padding: 0 $navbar-item-side-length / 4;
		position: relative;
		z-index: 0;
		opacity: inherit;
		display: block;
		height: $navbar-item-side-length;
		color: black;
		float: left;
		text-decoration: none;
		text-align: center;
		-webkit-transition: all 200ms linear;
		// border-right: 2px dotted grey;
		&:hover {
			z-index: 1;			
			// box-shadow: 0 0 8px #B56436;
			// box-shadow: inset 0 0 8px #FFE4C6;
		}
		span {
			display: block;
			// vertical-align: middle;
			top: 50%;
			// position: absolute;
			position: relative;
			-webkit-transform: translateY(-50%);
			// -webkit-transform: translateY(calc(-50% - 0.25em));
			// width: inherit;
			.icon {
				// font-size: 28px;
				font-size: 32px;
				color: darkgrey;
			}
			span {
				display: inline;
			}
		}
	}
	#title {
		width: auto;
		// padding: 0 35px;
		padding: 0 $navbar-item-side-length / 4;
		font-size: 36px;
	}

}