$icon-font-path: "../fonts/bootstrap/";

// $link-color: $gray;
// $link-color: #5988FF;
$link-color: #7594E5;

$nav-link-hover-bg: $gray-light;
$nav-open-link-hover-color: white;

$nav-pills-border-radius: 8px;

$jumbotron-bg: rgba(255, 255, 255, 0.7);
$border-radius-large: none;